.news_block{
    display: block;
    text-align: center;
}

img{
    max-width: 400px;
}

button{
    display: block;
    margin: auto;
}

.search{
    display: flex;
    justify-content: center;
}

.search button{
    margin: 0%;
}